<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members</title>
  </head>
  <body>
    <%- include("./navbar") %>
    <div class="posts">
      <% for (let post of posts) { %>
      <div class="post">
        <a href="<%= `/post/${post._id}` %>" class="title"><%= post.title %></a>
        <% if (user && user?.level !== "basic") { %>
        <span class="author">@<%= post.author.handle %></span>
        <span class="date"
          ><%= (new Date(post.createdAt)).toDateString() %></span
        >
        <% } %>
        <p class="body"><%= post.body %></p>
      </div>
      <% } %>
    </div>
    <div class="indices">
      <% if (page !== 1) { %>
        <a href="/home/1">first</a>
      <% } %>
      <% if (page !== 1) { %>
        <a href="/home/<%= page - 1 %>">prev</a>
      <% } %>
      <% for (let index of indices) { %>
        <% if (page !== index) { %>
          <a href="/home/<%= index %>"><%= index %></a>
        <% } else { %>
          <p><%= index %></p>
        <% } %>
      <% } %>
      <% if (page + 1 !== totalPages) { %>
        <a href="/home/<%= page + 1 %>">next</a>
      <% } %>
      <% if (page !== totalPages) { %>
        <a href="/home/<%= totalPages %>">last</a>
      <% } %>
    </div>
  </body>
</html>
