<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members</title>
  </head>
  <body>
    <%- include("./navbar") %>
    <h1 class="title"><%= post.title %></h1>
    <% if (post.author) { %>
      <a href="/profile/<%= post.author.username %>" class="author">by u/<%= post.author.username %></a>
      <p class="date"><%= new Date(post.createdAt).toDateString() %></p>
      <% if (post.isOwnPost) { %>
        <a href="/post/edit/<%= post._id %>">Edit</a>
        <a href="/post/delete/<%= post._id %>">Delete</a>
      <% } %>
    <% } %>
    <p class="body"><%= post.body %></p>
  </body>
</html>
