<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members</title>
  </head>
  <body>
    <%- include("./navbar") %>
    <h1><%= post.title %></h1>
    <% if (post.author) { %>
      <a href="/user/<%= post.author.username %>">by u/<%= post.author.username %></a>
      <p><%= new Date(post.createdAt).toDateString() %></p>
      <% if (post.isOwnPost) { %>
        <a href="/post/edit/<%= post._id %>">Edit</a>
      <% } %>
      <% if (post.isOwnPost || (user?.level === "admin")) { %>
        <a href="/post/delete/<%= post._id %>">Delete</a>
      <% } %>
    <% } %>
    <p><%= post.body %></p>
  </body>
</html>
